body {
    background-color: #666;
    color: white;
}
.blockOverlay{
  background-color: white  !important;
}
.blockMsg {
    border: 0px !important;
}
#ana {
    width: 100%;    
    margin-top: auto;
    margin-bottom: auto;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 50%;
    /*margin-top: -200px;*/ /* yüksekliğin yarısı */
    text-align: center;
    background-color: white;
}

#icorta {
    height: 400px;
    width: 400px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}
